# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Swift files
[*.swift]
indent_style = space
indent_size = 2
tab_width = 2
# max_line_length = 120

# Xcode project files
[*.{pbxproj,xcworkspacedata,xcscheme}]
indent_style = tab
indent_size = 4
tab_width = 4

# YAML files (SwiftLint, GitHub Actions, etc.)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
tab_width = 2


# Markdown files
[*.md]
trim_trailing_whitespace = false

# Package manifest
[Package.swift]
indent_style = space
indent_size = 2
tab_width = 2


# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
tab_width = 2


# Makefile
[Makefile]
indent_style = tab